<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>577813154062-ddpge4r9cc03pm280miqndd6u7jklb0d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.577813154062-ddpge4r9cc03pm280miqndd6u7jklb0d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>577813154062-9ha6vsitc55bme2r6q2664iee9tjc2di.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBEQUyGXYqho-f7JM82iHvBloYCK8TXpIY</string>
	<key>GCM_SENDER_ID</key>
	<string>577813154062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hiscycleguide.ios</string>
	<key>PROJECT_ID</key>
	<string>histrackerguide</string>
	<key>STORAGE_BUCKET</key>
	<string>histrackerguide.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:577813154062:ios:a15efb3832365166f76f5f</string>
	<key>DATABASE_URL</key>
	<string>https://histrackerguide-default-rtdb.firebaseio.com</string>
</dict>
</plist>